.App {
  margin-top: 20px;
  margin-left: 20px;
}

.App .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.App .breed {
  font-weight: bold
}